#wrapper.no-left-nav { padding-left: 0px; }

.scrollable-menu {
	height: auto;
	max-height: 290px;
	overflow-x: hidden;
}

.navbar-form input, .form-inline input {
	width:auto;
}

.navbar {
    margin-bottom: 0;
}

.subnav {
	margin: 0;
	top: 0px;
	z-index: 1020;
	background: #333;
}

.subnav .container { width: 100%; }

.panel > .panel-body > .page-header:first-child { margin-top: 0px; }

.item-scroll-with-nav .subnav.affix, .subnav.affix {
	position: fixed;
	top: 51px;
	z-index: 10;
	width: inherit;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.item-scroll-with-nav {
	padding-top: 70px;
	position: relative;
}

.item-scroll-with-nav .subnav {
	position: absolute;
	top: 0px;
}

.game-icon-sm, .game-icon-tiny {
	display: inline-block;
	background-size: auto 100%;
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;
}

.game-icon-sm { width: 20px; height: 20px; }
.game-icon-tiny { width: 15px; height: 15px; }

.icon-horde { background-image: url(../img/icons/horde.png); }
.icon-alliance { background-image: url(../img/icons/alliance.png); }

.item-link.q0 { color: #9d9d9d; }
.item-link.q1 { color: #fff; }
.item-link.q2 { color: #1eff00; }
.item-link.q3 { color: #0070dd; }
.item-link.q4 { color: #a335ee; }
.item-link.q5 { color: #ff8000; }
.item-link.q6 { color: #e5cc80; }
.item-link.q7 { color: #e5cc80; }
.item-link.q8 { color: #0cf; }

a.death-knight { color: #C41F3B !important; }
a.druid { color: #FF7D0A !important; }
a.hunter { color: #ABD473 !important; }
a.mage { color: #69CCF0 !important; }
a.monk { color: #00FF96 !important; }
a.paladin { color: #F58CBA !important; }
a.priest { color: #fff !important; }
a.rogue { color: #FFF569 !important; }
a.shaman { color: #0070DE !important; }
a.warlock { color: #9482C9 !important; }
a.warrior { color: #C79C6E !important; }
a.demon-hunter { color: #A330C9 !important; }

.btn[data-class="death-knight"] { background-color: rgba(196, 30, 59, 100); }
.btn[data-class="druid"] { background-color: rgba(255, 125, 10, 100); }
.btn[data-class="hunter"] { background-color: rgba(171, 212, 115, 100); color: #333; }
.btn[data-class="mage"] { background-color: rgba(105, 204, 240, 100); color: #333; }
.btn[data-class="monk"] { background-color: rgba(0, 255, 150, 100); color: #333; }
.btn[data-class="paladin"] { background-color: rgba(245, 140, 186, 100); }
.btn[data-class="priest"] { background-color: rgba(255, 255, 255 , 100); color: #333; }
.btn[data-class="rogue"] { background-color: rgba(255, 245, 105, 100); color: #333; }
.btn[data-class="shaman"] { background-color: rgba(0, 112, 222, 100); }
.btn[data-class="warlock"] { background-color: rgba(148, 130, 201, 100); }
.btn[data-class="warrior"] { background-color: rgba(199, 156, 110, 100); }
.btn[data-class="demon-hunter"] { background-color: rgba(163, 48, 201, 100); }

.btn[data-faction="alliance"] { background-color: #114587; }
.btn[data-faction="horde"] { background-color: #650c0e; }

.mogslot-summary h3, .zone-summary h3 { margin-top: 0px; }

.mogslot-progress-wrapper, .zone-progress-wrapper { 
	margin-bottom: 10px;
	display: block;
}
.mogslot-progress-wrapper .progress, .zone-progress-wrapper .progress {
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.mogslot-progress-wrapper .progress { width: calc(100% - 25px); }
.zone-progress-wrapper .progress { width: 100%; }

.mogslot-progress-wrapper .progress .progress-label, .zone-progress-wrapper .progress .progress-label {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	line-height: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
	color: white;
	font-size: 75%;
	transition: all 0.2s ease;
}

.mogslot-progress-wrapper:hover .progress .progress-label.summary, .zone-progress-wrapper:hover .progress .progress-label.summary { opacity: 0; }
.mogslot-progress-wrapper .progress .progress-label.mogslot-info, .zone-progress-wrapper .progress .progress-label.zone-info { opacity: 0; }
.mogslot-progress-wrapper:hover .progress .progress-label.mogslot-info, .zone-progress-wrapper:hover .progress .progress-label.zone-info { opacity: 1; }

.panel-default > .panel-heading a.display-link { color: #ccc; }

#search-form input { width: 300px; }

/* typeahead classes */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.tt-menu {
	font-size: 12px;
	min-width: 160px;
	width: 100%;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #080808;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.tt-suggestion {
	display: block;
	padding: 0px 5px;
	height: 25px;
	line-height: 25px;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	overflow: hidden;
}

.tt-hint { color: #888; }

.tt-suggestion.tt-cursor,
.tt-suggestion:hover,
.tt-suggestion.tt-cursor .result-type,
.tt-suggestion:hover .result-type { 
	background-color: #333;
	text-decoration: none;
	color: white;
}

.tt-suggestion .result-type {
	font-size: smaller;
	text-transform: uppercase;
	color: #ccc;
	width: auto;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0 5px;
	background: #080808;
}